@inherits Sde5.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using Sde5.Models.Sde
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenHeader>
  <ChildContent>
    <div class="row justify-content-start align-items-center">
      <div class="col-6 d-flex align-items-center">
        <RadzenSidebarToggle Click="@SidebarToggle0Click">
        </RadzenSidebarToggle>
        <RadzenLabel Text="SDE5">
        </RadzenLabel>
      </div>
      <div class="col-6 text-right">
      </div>
    </div>
  </ChildContent>
</RadzenHeader>
<RadzenBody @ref="body0">
  <ChildContent>
    <RadzenContentContainer Name="main">
    @Body
    </RadzenContentContainer>
  </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="sidebar0">
  <ChildContent>
    <RadzenPanelMenu style="height: 100%">
      <ChildContent>
        <RadzenPanelMenuItem Text="Delivery Extracts" Path="delivery-extracts">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Delivery Parameters" Path="delivery-parameters">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Extracts" Path="extracts">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Lists" Path="lists">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="List Extracts" Path="list-extracts">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Parameters" Path="parameters">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Parameter Values" Path="parameter-values">
        </RadzenPanelMenuItem>
      </ChildContent>
    </RadzenPanelMenu>
  </ChildContent>
</RadzenSidebar>
<RadzenFooter>
  <ChildContent>
    <RadzenLabel Text="SDE5, Copyright Ⓒ 2021">
    </RadzenLabel>
  </ChildContent>
</RadzenFooter>
